button {
  padding: 15px;
  font-family: 'Tahoma', 'Helvetica', 'Roboto', sans-serif;
  font-size: 38px;
  background-color: #0069ac;
  color: #eeeeee;
  border-radius: 10px;
  border: none;
  margin: 10px;

}

h1{
  font-family: 'Tahoma', 'Helvetica', 'Roboto', sans-serif;
  font-size: 65px;
  padding: 3px;
  text-align: center;
  color: white;
}
h2{
  font-family: 'Tahoma', 'Helvetica', 'Roboto', sans-serif;
  font-size: 35px;
  padding: 3px;
  text-align: center;
  color: white;
}
h3{
    font-family: 'Tahoma', 'Helvetica', 'Roboto', sans-serif;
    font-size: 35px;
    padding: 3px;
    text-align: center;
    color: white;
}

li{
  font-family: 'Tahoma', 'Helvetica', 'Roboto', sans-serif;
  font-size: 35px;
  padding: 3px;
  text-align: center;
  color: white;
}

p{
  font-family: 'Tahoma', 'Helvetica', 'Roboto', sans-serif;
    font-size: 45px;
    padding: 9px;
    text-align: center;
    color: white;
  }
  body{
background-color: #0f0f0f;
}
.centimage{
  max-width: 1000px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  }
.TagRii{
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 25px;
}

.button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  -ms-interpolation-mode: nearest-neighbor;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}

.web_button {
  -ms-interpolation-mode: nearest-neighbor;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}